---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { Content as AboutContent } from './index.mdx';
---

<Layout title="Обо мне" description="Немного информации обо мне">
  <Container>
    <div class="space-y-16">
      <article class="prose prose-lg dark:prose-invert">
        <AboutContent />
      </article>
    </div>
  </Container>
</Layout>
