---
import Layout from "@layouts/Layout.astro";
import { Content as BooksContent } from './index.mdx';
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
---

<Layout 
  title="Мои любимые книги"
  description="Книги, которые я рекомендую прочитать"
>
  <Container>
    <article class="w-full">
      <div class="animate">
        <BackToPrevious href="/about">Назад</BackToPrevious>
      </div>
      <div class="prose prose-neutral prose-lg dark:prose-invert">
        <BooksContent />
      </div>
    </article>
  </Container>
</Layout>