---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { Content as BooksContent } from './index.mdx';
---

<Layout 
  title="Мои любимые книги"
  description="Книги, которые я рекомендую прочитать"
>
  <Container>
    <div class="animate">
      <BackToPrevious href="/about">Назад</BackToPrevious>
    </div>
    <div class="content-wrapper">
      <article class="animate mt-10 prose prose-lg dark:prose-invert prose-headings:text-black dark:prose-headings:text-white prose-p:text-gray-700 dark:prose-p:text-gray-300">
        <BooksContent />
      </article>
    </div>
  </Container>
</Layout>

<style>
  .content-wrapper :global(h1) {
    margin-bottom: 2rem;
  }
  .content-wrapper :global(h2) {
    margin-top: 2rem;
  }
</style>
