---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
import { Content as BooksContent } from './index.mdx';
---

<Layout 
  title="Мои любимые книги"
  description="Книги, которые я рекомендую прочитать"
>
  <Container>
    <div class="animate">
      <BackToPrevious href="/about">Назад</BackToPrevious>
    </div>
    <article class="animate mt-10 prose prose-lg dark:prose-invert max-w-none">
      <BooksContent />
    </article>
  </Container>
</Layout>
