---
import Layout from "@layouts/Layout.astro";
import { Content as ShowsContent } from './index.mdx';
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
---

<Layout 
  title="Посещенные страны и города"
  description="Пока что"
>
  <Container>
    <div class="animate">
      <BackToPrevious href="/about">Назад</BackToPrevious>
    </div>
    <article class="animate mt-10">
      <ShowsContent />
    </article>
  </Container>
</Layout> 