---
import Layout from '../../../layouts/Layout.astro';
import { Content as GamesContent } from './index.mdx';
import Container from "@components/Container.astro";
import BackToPrevious from "@components/BackToPrevious.astro";
---

<Layout 
  title="Мои любимые видеоигры"
  description="Игры, которые оставили неизгладимое впечатление"
>
  <Container>
    <div class="animate">
      <BackToPrevious href="/about">Назад</BackToPrevious>
    </div>
    <article class="animate mt-10">
      <GamesContent />
    </article>
  </Container>
</Layout> 